:root {
    --accent-default: #ac7339;
    --accent-dark: #86592d;
    --accent-light: #d9b38c;
  }
  
  img{
    width: 35vw;
    height: 30vh;
}

.tips-card{
    width: 80vw;
    border: 1px solid var(--accent-light);
    padding: 16px;
}


