:root {
    --accent-default: #ac7339;
    --accent-dark: #86592d;
    --accent-light: #d9b38c;
  }
  
/* img{
    width: 35vw;
    height: 35vh;
    object-fit: contain;
} */

.tips-card{
    /* width: 50vw; */
    /* border: 1px solid var(--accent-dark); */
    padding: 16px;
    width: 300px;
}

.option{
    color: var(--accent-dark);
    font-style: italic;
    font-weight: bold;
}


