:root {
    --accent-default: #ac7339;
    --accent-dark: #86592d;
    --accent-light: #d9b38c;
    --gray-lightest: #f4f5f4;
  }
Link, .img-kategori{
    border-radius: 50%;
    height: 130px;
    width: 130px;
    object-fit: contain;
}

.kategori, h6{
    color: var(--accent-dark);
}

.kategori:hover{
    color: var(--accent-default);
}

