:root {
    --accent-default: #ac7339;
    --accent-dark: #86592d;
    --accent-light: #d9b38c;
    --gray-lightest: #f4f5f4;
    --gray-divider: #e2e5e6;
    --gray-default: #c3cbcd;
    --gray-dark: #737b7d;
    --black: #373f41;
}

.recipe-table {
    width: 100%;
    border-radius: 4px;
    text-align: center;
}

.recipe-table thead tr th {
    padding: 12px 0px;
    color: var(--gray-lightest);
    font-size: 18px;
    background-color: var(--accent-default);
}

.recipe-table thead tr {
    border: 0px !important;
}

.recipe-table td {
    white-space: nowrap;
    vertical-align: middle;
    padding: 16px 0px;
}